/* Color Variables */
$gray-light: #ced4da;
$nav-light: #fff;
$nav-dark: #343a40;
$nav-toggler-on-light-bg: rgba(0, 0, 0, 0.1);
$hamburger-on-light-bg: #343a40;
$nav-toggler-on-dark-bg: rgba(255, 255, 255, 0.1);
$hamburger-on-dark-bg: #f4f4f4;
/* Suggestion for sidebar (dropdown in mobil): #2196f3*/
$bg-light: #f4f4f4;
$bg-dark: #3A4148;
$text-primary: #007bff;
$text-dark: #44494e; //#363535;
$text-light: #d6d5d5;
$text-muted: #888;
$sidebar-light: #2d4566; //#A3A7AB;
$sidebar-dark: #343a40; //#5C6B71;
/* 
  From: http://colormind.io/template/paper-dashboard/
  Applying these colors:
  https://youtu.be/_2LLXnUdUIc
*/
/* Interesting Color Theme */
$color1: #A3A7AB;
$color2: #5C6B71;
$color3: #7C7B8E;
$color4: #AB968F;
$color5: #D0AB72;
/* Other Interesting Theme*/
$color6: #0F2032;
$color7: #141C21;
$color8: #24323A;
$color9: #30515D;
$color10: #E7DB83;
/* Another palette */
$color11: #DFF0F5;
$color12: #84959B;
$color13: #7CA1B3;
$color14: #698494;
$color15: #2E4255;
