.slider-button {
  display: flex;
  align-content: center;

  label {
    display: inline-block;
    margin-bottom: 0;
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 1em;
    height: calc(1em * 34 / 60);
    /* Hide default HTML checkbox */
    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: #2196F3;

        &::before {
          -webkit-transform: translateX(calc(1em * 26 / 60));
          -ms-transform: translateX(calc(1em * 26 / 60));
          transform: translateX(calc(1em * 26 / 60));
        }
      }

      &:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
    }
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

      &:before {
        position: absolute;
        content: "";
        height: calc(1em * 26 / 60);
        width: calc(1em * 26 / 60);
        left: calc(1em * 4 / 60);
        bottom: calc(1em * 4 / 60);
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      /* Rounded sliders */
      &.round {
        border-radius: calc(1em * 34 / 60);

        &:before {
          border-radius: 50%;
        }
      }
    }
  }
}
